
    body {
        background-image: url('https://th.bing.com/th/id/OIP.ldTGIdF-grdBjInEJrUzygHaDx?w=325&h=178&c=7&r=0&o=5&dpr=1.3&pid=1.7');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .terror {
        color: red;
        font-size: 24px;
    }

    .gender-container {
        border: 4px solid red;
        background-color: white;
        padding: 10px;
        margin-bottom: 20px;
    }

    .food-container {
        border: 4px solid violet;
        background-color: white;
        padding: 1px;
        margin-bottom: 20px;
    }

    .location-container {
        border: 4px solid yellow;
        background-color: white;
        padding: 10px;
        margin-bottom: 20px;
    }

    .title-container {
        border: 4px solid black;
        background-color: white;
        padding: 10px;
        margin-bottom: 20px;
    }


    
    